/*IMPORT GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Jaini&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --primary-color: #402620;
    --button-color: #2b1915;
    --primary-font: "Jaini", system-ui;
    --secondary-font: "Merriweather", serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*GLOBAL RULES*/
.hide, .hide-start {
    display: none;
}

#container {
    background-color: rgba(64, 38, 32, 0.9);
    border: 3px solid var(--button-color);
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    width: 90%;
    padding: 8px;
    border-radius: 10px;
    margin: 10px 5px;
}

button {
    background-color: white;
    font-size: 100%;
    font-family: var(--secondary-font);
    text-align: center;
    font-weight: bold;
    border: 2px solid var(--button-color);
    border-radius: 8px;
    padding: 5px;
    width: 209px;
}

button:hover {
    color: white;
    background-color: var(--button-color);
}

.buttonSelected {
    color: white;
    background-color: var(--button-color);
}

/*MAIN STYLES*/
body {
    min-height: 100vh;
    background: url("../images/background-image-quiz.webp") no-repeat center
    center/cover;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*START WINDOW SECTION*/
h1 {
    font-family: var(--primary-font);
    text-align: center;
    letter-spacing: 2px;
    color: var(--primary-color);
    font-size: 3rem;
    margin-top: 25%;
}


#startWindow h2 {
    text-align: center;
}

#startWindow ol {
    margin-left: 20%;
}


#startForm {
    text-align: center;
}

#startForm>input {
    font-weight: bold;
    font-family: var(--secondary-font);
    font-size: 17px;
    color: var(--primary-color);
    background-color: white;
    border: 2px solid var(--button-color);
    border-radius: 6px;
    height: 30px;
}

#startForm>#chooseMode {
    margin: 10px auto;
}

#username~p {
    font-size: 15px;
    margin-right: 11px;
}

#buttonContainerStart {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

#startQuiz {
    width: 250px;
    height: 50px;
    font-size: 25px;
}

/*QUIZ WINDOW SECTION*/
#questionCounter, #questionText {
    text-align: center;
}

#answersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

#answersContainer>button {
    margin-top: 10px;
    width: 245px;
}

#nextQuestionCon {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.right {
    border: 2px solid rgb(0, 82, 0);
    background-color: rgb(0, 82, 0);
    color: white;
}

.wrong {
    border: 2px solid rgb(109, 0, 0);
    background-color: rgb(109, 0, 0);
    color: white;
}

.notVisible {
    visibility: hidden;
}

/*END QUIZ WINDOW SECTION*/
#endQuizWindow {
    text-align: center;
}

#endQuizWindow > p {
    margin: 20px;
}

/*MEDIA QUERIES*/
/*Media query for (tablests) screens 768px and larger*/
@media screen and (min-width: 760px) {
    /*GLOBAL RULES*/
    #container {
        width: 75%;
    }


    /*START WINDOW SECTION*/
    h1 {
        margin-top: 10%;
    }

    /*QUIZ WINDOW SECTION*/
    #answersContainer>button {
        width: 45%;
    }

}

@media screen and (min-width: 992px) {
    /*GLOBAL RULES*/
    #container {
        width: 65%;
    }
    /*START WINDOW SECTION*/
    h1 {
        font-size: 3.5rem;
        margin-top: 7%;
    }
}

@media screen and (min-width: 1200px) {
    /*GLOBAL RULES*/
    #container {
        width: 60%;
    }
}

@media screen and (min-width: 1400px) {
    /*GLOBAL RULES*/
    #container {
        width: 50%;
    }
}