/*IMPORT GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Six+Caps&display=swap");

:root {
    --primary-color: #402620;
    --button-color: #2b1915;
    --primary-font: "Six Caps", sans-serif;
    --secondary-font: "Inter", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*GLOBAL RULES*/
.hide, .hide-start {
    display: none;
}

body {
    min-height: 100vh;
    background: url("../images/background-image-quiz.webp") no-repeat center
    center/cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--primary-font);
    text-align: center;
    letter-spacing: 2px;
    color: var(--primary-color);
    font-size: 300%;
    margin-top: 50px;
}

#container {
    background-color: /*var(--primary-color)*/ rgba(64, 38, 32, 0.9);
    color: white;
    font-family: var(--secondary-font);
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    margin: 10px 5px;
}

#container>ol {
    margin-left: 15px;
}

#buttonContainer {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

button {
    background-color: white;
    font-size: 100%;
    font-family: var(--secondary-font);
    text-align: center;
    font-weight: bold;
    border: 2px solid var(--button-color);
    border-radius: 8px;
    padding: 5px;
    width: 209px;
}

#buttonContainer>#chooseMode {
    margin-top: 10px;
}

.buttonSelected {
    color: white;
    background-color: var(--button-color);
}

